html {
    margin: 0px;
    height: 100%;
}

body { 
    margin-left: auto;
    margin-right: auto;
    
    height: 100%;

    background-color: rgba(130, 243, 64, 0.404);
    background: url(/images/background.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;
    background-size: cover;

    -webkit-transition: background 0.7s linear;
    -moz-transition: background 0.7s linear;
    -o-transition: background 0.7s linear;
    transition: background 0.7s linear;

}

body:hover {
    background: url(/images/background-opacity.jpg);

    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;

    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    transition-delay: 0.5s;
   
}

body:not(:hover) {
    background: url(/images/background.jpg);

    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment:fixed;

    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    transition-delay: 0.5s;
   
}


.webpage {
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width: auto;
    /*background-color: blue;*/
}

header {
    padding-top: 12.5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    background-color: rgba(164, 245, 248, 0.521);
}

.about {
    float: right;
    font-size: 20px;
    font-weight: bold;

    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    text-decoration: none;
    
}


.about:hover
{
    text-decoration: underline;

    color: cyan;
}

.hour {
    float: left;
    color:white;
    font-size: 20px;
    font-weight: bold;

    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    /* -webkit-text-stroke: 0.2px black; */
}

@media only screen and (max-width: 506px) {
    .about {
        text-align: center;
        float: none;

    }
    .hour {
        text-align: center;  
        padding-bottom: 20px;     
    }
    header {
        text-align: center; 
        padding-bottom: 10px;
    }
    body{
        background-image: url(/images/background.jpg);
        background: url(/images/background.jpg);

        background-position: center; 
        background-repeat: no-repeat; 
        background-attachment:fixed;
        background-size: cover;

        -webkit-transition: background 0.7s linear;
        -moz-transition: background 0.7s linear;
        -o-transition: background 0.7s linear;
        transition: background 0.7s linear;
        transition-delay: 0.7s;
    }
    body:hover
    {
        background-image: url(/images/background.jpg);
        background: url(/images/background.jpg);

        background-position: center; 
        background-repeat: no-repeat; 
        background-attachment:fixed;
        background-size: cover;

        -webkit-transition: background 0.7s linear;
        -moz-transition: background 0.7s linear;
        -o-transition: background 0.7s linear;
        transition: background 0.7s linear;
        transition-delay: 0.7s;
    }
    
}

.transparent-bar-1 {
    height: 5px;
    width: 100%;
    background-color: rgba(164, 245, 248, 0.596); /* rgba(114, 114, 114, 0.164); */
}

main {
    background-color: rgba(0, 0, 0, 0.075);
    padding-top: 10px;
    padding-bottom: 100px;
    margin-left: 10%; /* 100px */
    margin-right: 10%;
    /*margin-bottom: 100px;*/

    height: 100%;
    min-width: 200px;
}

main .sitelogo
{
    max-width: 17%;
    min-width: 152px; /*  231.22px; */
    position: relative;
}

main .cumevremealogo {
    padding-top: 50px;
    
    transition: .4s;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: 100%;
    width: 100%;
}

main .cumevremealogo img {

    transition: .4s;

}

main .cumevremealogo img:hover
{
    transform: scale(1.5);
    
}


main .protvlogo {
    padding-top: 50px;
    padding-left: 7%;
    width: 117px;
    height: 38px;
}

.boxContainer {
    margin-top: 50px;

    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*width: auto;*/

    max-width: 100%;
    min-width: 200px;
    min-height: 350px;
    max-height: 100%;

    text-align: center;

    display: flex;
    flex-wrap: wrap;
    background-color: rgba(30, 143, 255, 0.568);
    justify-content: center;
    align-items: center;

}

#bigboxAntena1{
    background-color: rgba(173, 243, 167, 0.384);
    
}

.date {
    text-align: center;
    

    overflow: auto;
    /*background-color: turquoise;*/
    position: relative;

    font-size: 120%;
    color: rgb(238, 238, 238);
    font-family:  Helvetica, sans-serif;

    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    

}

.box {
    /*border: 1px solid rgba(92, 82, 82, 0.267); */
    text-align: center;
    align-items: center;
    /* width: auto; */
    
    max-width: 15%; 
    min-width: 150px;
    
    min-height: 30px; /* 75%*350px = 262.5px */
    max-height: 75%;
    overflow: hidden;

    float: left;
    position: relative;
    

    background: linear-gradient(180deg, rgb(255,255,255,0) 10%, rgba(255, 255, 255, 0.438) 10%);
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;

    padding-right: 2px;
    padding-left: 2px;

    
}

.box:hover
{
    max-width: 16%; 
    min-width: 160px;
    transition: .4s;
    
}


.box:not(:hover)
{
    max-width: 15%; 
    min-width: 150px;
    transition: .4s;
}


@media only screen and (max-width: 506px) {
    .box{
        max-width: 5%;
        transition: .7s;
    }
    .box:hover{
        max-width: 80%;
        transition: .7s;
    }
    .box:not(:hover){
        max-width: 80%;
        transition: .7s;
    }

}

@media only screen and (min-width: 506px) {
    .box{
        max-width: 5%;
        transition: .4s;
    }
}

.boxVideo {
    position: relative !important;
    width: 100% !important;
    height: auto !important;

    padding-top: 50%;
    padding-bottom: 50%;

}
.boxVideo:hover{
    max-width: 120%;
}

.boxVideo:fullscreen
{
    padding-top: 0px;
    padding-bottom: 0px;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 10px;
}